body {
  margin: 0;
  overflow: hidden;
  /* pointer-events: none; */
  user-select: none;
  box-sizing: border-box;
}
canvas {
  display: block;
}
#debug {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #0f0;
  font-family: monospace;
  font-size: 12px;
}

#reroll,
#upgrade {
  pointer-events: auto;
}
/* 
      #reroll *,
      #upgrade * {
        pointer-events: none;
      } */

*:not([class*="cursor-pointer"]),
canvas {
  cursor: url("/normal.cur"), auto !important;
}
*[class*="cursor-pointer"],
a,
button,
button img {
  cursor: url("/link.cur"), pointer !important;
}
