@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  /* pointer-events: none; */
  user-select: none;
  box-sizing: border-box;
}
canvas {
  display: block;
}
#debug {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #0f0;
  font-family: monospace;
  font-size: 12px;
}

#reroll,
#upgrade {
  pointer-events: auto;
}
/* 
      #reroll *,
      #upgrade * {
        pointer-events: none;
      } */

*:not([class*="cursor-pointer"]),
canvas {
  cursor: url("/normal.cur"), auto !important;
}
*[class*="cursor-pointer"],
a,
button,
button:hover,
button img,
button img:hover {
  cursor: url("/link.cur"), pointer !important;
}

.clip-hexagon {
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

/* champs shop */
.champ-card-shop.border-run::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    120deg,
    #fff 0%,
    #000 25%,
    #fff 50%,
    #000 75%,
    #000 100%
  );
  background-size: 400% 400%;
  animation: borderRun 10s linear infinite;
  z-index: 50;
  pointer-events: none;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  box-sizing: border-box;
}
.champ-card-shop.border-run.gold::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    120deg,
    #ffdd11 0%,
    #ffee00 25%,
    #fff 50%,
    #ffaa00 75%,
    #000 100%
  );
  background-size: 400% 400%;
  animation: borderRun 10s linear infinite;
  z-index: 50;
  pointer-events: none;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  box-sizing: border-box;
}
.champ-card-shop.border-run.teal::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    120deg,
    #5debc8 0%,
    /* Turquoise */ #33cccc 25%,
    /* Light Teal */ #6ce0d0 50%,
    /* Cyan */ #fff 75%,
    #000 100%
  );
  background-size: 400% 400%;
  animation: borderRun 10s linear infinite;
  z-index: 50;
  pointer-events: none;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  box-sizing: border-box;
}

.champ-card-shop.border-run::after,
.champ-card-shop.border-run.gold::after,
.champ-card-shop.border-run.teal::after {
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  padding: 1px;
}

@keyframes borderRun {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.fade-in.loaded {
  opacity: 1;
}

.champ-placeholder {
  background-color: #2d2d2d;
  animation: pulse 1.2s infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.9;
  }
}
